*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --first: #3576b6;
  --second: #2d348d;
  --third: #25255e;
  --light: #68aedd;
  --bright: #4aa5ff;
  --dark: #030d18;

  --grey-dark: #29313a;
  --grey-med: #353d46;
  --grey-light: #424a52;

  --warning: #db3832;

  --text: var(--dark);
  --text-light: #fff;
  --text-light-grey: #aaa;
  --bottom_item_height: 65px;
  --menu_holder_height: 90px;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: var(--text-light);
  display: flex;
  height: 100vh;
  background-color: var(--grey-light);
  line-height: 1.4rem;
}

.icon_dock {
  height: 100%;
  background-color: var(--dark);
  width: 75px;
  display: flex;
  flex-direction: column;
  padding: 40px 0 0 0;
}

.icon_highlighted {
  position: relative;
  left: -41px;
  display: flex;
  justify-content: space-between;
  width: 102px;
  margin: 0;
  margin-bottom: 35px;
}

.first_icon {
  border-bottom: 1px solid var(--grey-dark);
  padding-bottom: 25px;
  margin-bottom: 5px;
}

.icon_holder,
.icon_dot {
  width: 40px !important;
  height: 40px !important;
  transform: rotate(45deg);
  background-color: white;
  border-radius: 5px;
  padding: 0;
}

.icon_dot {
  background-color: var(--bright);
}
.low {
  background-color: var(--grey-light);
}
.movie {
  background-color: #6038e6;
  overflow: hidden;
  margin: 0;
}
.record {
  background-color: #08dc6e;
}
.none {
  background-color: transparent;
}

.icon_holder img {
  transform: rotate(-45deg);
}

.logo img {
  width: 70%;
  margin: 0 5px;
}

.note img {
  width: 80%;
  margin: 2px 5px;
}

.record img {
  width: 90%;
  margin: 2px;
}

.movie img {
  width: 120%;
}

.menu_bar {
  width: 275px;
  background-color: var(--grey-med);
  height: 100%;
  color: white;
}
.menu_holder {
  padding: 20px;
  height: var(--menu_holder_height);
}
.menu_item {
  display: flex;
  align-items: center;
  color: var(--text-light-grey);
  margin-bottom: 10px;
}
.menu_item img {
  width: 30px;
  margin-right: 7px;
}

.direct_message {
  padding: 0 20px;
  width: 100%;
  background-image: url(../img/DMs.svg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 4px;
  background-size: 150px;
  color: white;
  height: calc(100vh - var(--bottom_item_height) - var(--menu_holder_height));
}

.dm_friend {
  display: flex;
  align-items: center;
  margin-top: 12px;
  padding: 0;
}

.dm_friend img {
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.dm_friend p {
  line-height: 1em;
  margin: 0;
  padding: 0;
}

.user_area {
  height: var(--bottom_item_height);
  background-color: var(--second);
  padding: 20px;
  display: flex;
}

.chat_area {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.chat_holder {
  padding: 30px 15px;
  height: calc(100vh - 65px);
  width: 100%;
  overflow: auto;
}
.online,
.offline,
.away {
  width: 20px;
  height: 20px;
  border: 4px solid;
  outline: var(--grey-light) 2px solid;
  border-radius: 6px;
  position: relative;
  top: -25px;
  left: 2px;
  transform: rotate(45deg);
}

.online {
  border-color: #08dc6e;
}
.offline {
  border-color: var(--warning);
}
.away {
  border-color: #f3e30e;
}

.chat_header {
  color: var(--text-light-grey);
}

.chat_header h2 {
  margin-top: 0;
  padding-top: 0;
  color: var(--text-light);
}

.chat_header img {
  width: 100px;
  border-radius: 50%;
}

fieldset {
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-color: var(--text-light-grey);
}
legend {
  text-align: center;
  color: var(--text-light-grey);
}
p.user {
  font-size: 1em;
  font-weight: 700;
  padding: 0;
  margin: 0;
}
.time {
  font-size: 0.8em;
  font-weight: 300;
  color: var(--text-light-grey);
  margin-left: 5px;
}
p.message {
  margin: 0;
  padding: 0;
  font-weight: 300;
}
.chat_field {
  background-color: var(--grey-dark);
  width: 100%;
  height: var(--bottom_item_height);
  padding: 15px;
}

.chat_field input {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  color: white;
  background-color: var(--grey-med);
  border: none;
  outline: none;
  padding: 8px;
  background-image: url(../img/chat-buttons.svg);
  background-size: 100px;
  background-position: right;
  background-repeat: no-repeat;
}
.chat_field input::placeholder {
  color: #666;
}
.chat_entry {
  display: flex;
  margin-bottom: 15px;
}
.avatar {
  width: 40px;
  margin-top: 5px;
}
.avatar img {
  width: 100%;
  border-radius: 50%;
}
.chat_content {
  flex-direction: column;
  margin-left: 10px;
}
